parameters:
    level: 6
    paths:
        - src
    ignoreErrors:
        -
            message: "#^Parameter \\#2 \\$default of method Consolidation\\\\Config\\\\Util\\\\ConfigOverlay\\:\\:get\\(\\) expects string\\|null, array given\\.$#"
