parameters:
    level: 6
    paths:
        - src
    additionalConstructors:
        - DigitalPolygon\Polymer\Core\Services\Event\SiteSettingsFiles::setSite
        - DigitalPolygon\Polymer\Core\Services\Event\AlterSiteSettingsFiles::setSite
    ignoreErrors:
        -
            message: "#^Parameter \\#2 \\$default of method Consolidation\\\\Config\\\\Util\\\\ConfigOverlay\\:\\:get\\(\\) expects string\\|null, array given\\.$#"
        -
            identifier: missingType.iterableValue
    bootstrapFiles:
        - phpstanBootstrap.php
